<h1>Welcome to my list of flats</h1>

<ul>
  <% @flats.each do |flat| %>
    <li><%= flat[:name] %></li>
  <% end %>
</ul>

<%= link_to 'Home', root_path %>

<!-- root ==> root_path
about ==> about_path 
contact 
flats ==> flats_path ==> /flats -->



<!-- PARAMS

1. From form data ==> post req, get req
2. From the URL -->









































