<h1>Register with us</h1>
<form action="auth" method="get">
  <label>
    <input type="email" name="email" placeholder="Type your email">
  </label>

  <label>
    <input type="password" name="password" placeholder="Type your password">
  </label>

  <input type="submit">
</form>